html {
  font: message-box;
  color: #333;
}

body {
  font-size: 1.25rem;
}

h1 {
  font-size: 2rem;
  font-weight: normal;
  margin: 0;
  padding-bottom: 4px;
  margin-bottom: 4px;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.2);
}

.explanation {
  font-size: 1rem;
  grid-column: 1 / span 2;
}

a,
a:visited {
  color: rgb(10, 141, 255);
  text-decoration: none;
}

.options > div {
  padding: 5px;
}

.gridOptions {
  display: grid;
  align-items: center;
  grid-template-columns: 400px auto;
  margin-bottom: 10px;
}

input[type="checkbox"] {
  margin-left: 0;
}

#customCSS {
  width: 100%;
  max-width: 40rem;
  height: 25rem;
  resize: vertical;
  overflow: auto;
}

ul {
  font-size: 1.1rem;
  padding-left: 20px;
}
